html{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #f4f4f4;
	margin: 0px;
	padding: 0px;
}

#cover-container{
	background-color: white;
	display: inline;
	width: 70%;
}
h1 {
	font-size: 60px;
	color: #373737;
	font-family: 'Roboto Slab', serif;
}
.left-panel{
	display: inline;
	width: 30%;
}
.projects-panel{
	display: inline;
	width:70%; 
}
.profile-photo{
	border-radius: 50%;
}
.profile-photo-container{
	
}